.search-container{
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}

@media(max-width: 1024px){
  .search-container{
    padding: 0 20px;
  }
}

@media(max-width: 480px){
  .search-container img{
    width: 60px;
    position: relative;
    top: 2px;
  }
}

.background-banner{
  background-color: #ffe600;
  padding: 10px 0;
}

@media(max-width: 1024px){
  .background-banner{
    margin: 0 -10px;
  }
}

.search-input{
  font-size: 18px;
  margin-left: 10px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  flex: 20;
  padding: 10px;
  border: none;
  width: 100%;
  color: #333333;
}

.search-nav{
  flex: 1;
  max-width: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

.search-btn {
  background: no-repeat url("../assets/ic_search.png") #eeeeee 50% 50%;
  width: 100%;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  cursor: pointer;
}

.ml-img{
  flex: 1;
}

@media(max-width: 480px){
  .search-btn{
    flex: none;
    width: 35px;
  }
}